@font-face {
  font-family: setofont;
  src: url(./assets/font/setofont.ttf);
}
html body {
  font-family: setofont, -apple-system, "Microsoft JhengHei", "Segoe UI",
    "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
}
