// @font-face {
//   font-family: setofont;
//   src: url(./assets/font/setofont.ttf);
// }
html body {
  font-family: setofont, -apple-system, "Microsoft JhengHei", "Segoe UI",
    "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(235, 235, 235);
}
input,
textarea {
  font-size: 18px;
  border: none;
  border-radius: 0;
  resize: none;
  &:focus {
    outline: none;
  }
}
.inputBox {
  margin-bottom: 5px;
  input,
  textarea {
    width: 100%;
  }
  label {
    display: block;
    font-size: 14px;
    margin-bottom: 3px;
  }
}
.loading {
  text-align: center;
}
