$whiteBg: #f2f4f8;
$whiteSubBg: #ffffff;
$blackTitle: rgba(0, 0, 0, 0.9);
$blackSubTitle: rgba(0, 0, 0, 0.6);
$blackPopupBg: rgba(0, 0, 0, 0.3);
$blackBorder: rgba(0, 0, 0, 0.1);
$lightModeShadow: 0 2px 2px rgba(214, 214, 214, 0.5);

$darkBg: #28333d;
$darkSubBg: #414f5c;
$whiteTitle: rgba(255, 255, 255, 0.9);
$whiteSubTitle: rgba(255, 255, 255, 0.75);
$darkPopupBg: rgba(0, 0, 0, 0.7);
$whiteBorder: rgba(255, 255, 255, 0.9);

$whitePopupBg: #fbfbfb;

/* lightMode */
.lightMode {
  &#app {
    background: $whiteBg;
  }
  .lobby {
    .header {
      background: $whiteSubBg;
      box-shadow: $lightModeShadow;
      h3 {
        color: $blackSubTitle;
      }
      .spend {
        color: $blackTitle;
      }
    }
    .memo div,
    .addMemo {
      background: $whiteSubBg;
      box-shadow: $lightModeShadow;
    }
    .memo p {
      color: $blackSubTitle;
    }
    .spendType {
      .type {
        background: linear-gradient(to left, $whiteSubBg, $whiteBg);
      }
      .text {
        color: $blackTitle;
      }
    }
    .spendList {
      h4 {
        color: $blackSubTitle;
      }
      .listItem {
        background: $whiteSubBg;
        box-shadow: $lightModeShadow;
        h3 {
          color: $blackTitle;
        }
        span {
          color: $blackSubTitle;
        }
        .itemSpend {
          color: $blackTitle;
        }
      }
    }
    .spendPopup {
      background: $blackPopupBg;
      .spendCard {
        background: $whiteSubBg;
        .loading {
          color: $whiteBg;
        }
        h3 {
          color: $blackTitle;
        }
        h5 {
          color: $blackSubTitle;
        }
        .hotKeyItem,
        .hotKeyBtn,
        .formBtn div {
          background: $whiteBg;
          box-shadow: $lightModeShadow;
          color: $blackSubTitle;
        }
        .deleteHotKey {
          background: $blackBorder;
          color: $whiteSubBg;
        }
      }
    }
  }
  .record {
    .header {
      background: $whiteSubBg;
      box-shadow: $lightModeShadow;
      h3 {
        color: $blackSubTitle;
      }
    }
    .recordItem {
      background: $whiteSubBg;
      box-shadow: $lightModeShadow;
    }
    .detailPopup {
      .detailCard {
        background: $whitePopupBg;
        .detailItem {
          background: $whiteSubBg;
          box-shadow: $lightModeShadow;
          .directions {
            border-bottom: 1px solid $blackBorder;
          }
        }
      }
    }
  }
  .footer {
    background: $whiteSubBg;
    .icon,
    .text {
      color: $blackSubTitle;
    }
  }
  label {
    color: $blackSubTitle;
  }
  input,
  textarea {
    border-bottom: $blackBorder solid 1px;
  }
}

/* darkMode */
.darkMode {
  &#app {
    background: $darkBg;
  }
  .lobby {
    .header {
      background: $darkSubBg;
      h3 {
        color: $whiteSubTitle;
      }
      .spend {
        color: $whiteTitle;
      }
    }
    .memo div,
    .addMemo {
      background: $darkSubBg;
    }
    .memo p {
      color: $whiteSubTitle;
    }
    .spendType {
      .type {
        background: linear-gradient(to left, $darkSubBg 25%, $darkBg);
      }
      .text {
        color: $whiteTitle;
      }
    }
    .spendList {
      h4 {
        color: $whiteSubTitle;
      }
      .listItem {
        background: $darkSubBg;
        h3 {
          color: $whiteTitle;
        }
        span {
          color: $whiteSubTitle;
        }
        .itemSpend {
          color: $whiteTitle;
        }
      }
    }
    .spendPopup {
      background: $darkPopupBg;
      .spendCard {
        background: $darkBg;
        h3 {
          color: $whiteTitle;
        }
        h5,
        .loading {
          color: $whiteSubTitle;
        }
        .hotKeyItem,
        .hotKeyBtn,
        .formBtn div {
          background: $darkSubBg;
          color: $whiteSubTitle;
        }
        .deleteHotKey {
          background: $whiteBorder;
          color: $darkSubBg;
        }
      }
    }
  }
  .footer {
    background: $darkSubBg;
    .icon,
    .text {
      color: $whiteSubTitle;
    }
  }
  label {
    color: $whiteSubTitle;
  }
  input,
  textarea {
    border-bottom: $whiteBorder solid 1px;
    background: none;
    color: $whiteTitle;
  }
}
