//light mode
$bg_light: #f2f4f8;
$bg_sub_light: #ffffff;

$title_light: rgba(0, 0, 0, 0.9);
$title_sub_light: rgba(0, 0, 0, 0.6);

$popupBg_light: rgba(0, 0, 0, 0.3);
$border_light: rgba(0, 0, 0, 0.1);
$shadow_light: 0 2px 2px rgba(214, 214, 214, 0.5);

$whiteCardBg: #fbfbfb;
$empty_light: rgba(255, 255, 255, 0.7);

//dark mode
$bg_dark: #28333d;
$bg_sub_dark: #414f5c;

$title_dark: rgba(255, 255, 255, 0.9);
$title_sub_dark: rgba(255, 255, 255, 0.75);

$popupBg_dark: rgba(0, 0, 0, 0.7);
$border_dark: rgba(255, 255, 255, 0.3);

$empty_dark: rgba(86, 99, 112, 0.6);

/* lightMode */
.lightMode {
  &#app {
    background: $bg_light;
  }
  .lobby {
    .header {
      background: $bg_sub_light;
      box-shadow: $shadow_light;
      h3 {
        color: $title_sub_light;
      }
      .spend {
        color: $title_light;
      }
    }
    .memo div,
    .addMemo {
      background: $bg_sub_light;
      box-shadow: $shadow_light;
      color: $popupBg_light;
    }
    .memo p {
      color: $title_sub_light;
    }
    .spendType {
      .type {
        background: linear-gradient(to left, $bg_sub_light, $bg_light);
      }
      .text {
        color: $title_light;
      }
    }
    .spendList {
      h4 {
        color: $title_sub_light;
      }
      .listItem {
        background: $bg_sub_light;
        box-shadow: $shadow_light;
        h3 {
          color: $title_light;
        }
        span {
          color: $title_sub_light;
        }
        .itemSpend {
          color: $title_light;
        }
      }
      .empty {
        background: $empty_light;
        h3 {
          color: $title_sub_light;
        }
      }
    }
    .spendPopup {
      background: $popupBg_light;
      .spendCard {
        background: $bg_sub_light;
        .loading-s {
          color: $bg_light;
        }
        h3 {
          color: $title_light;
        }
        h5 {
          color: $title_sub_light;
        }
        .hotKeyItem,
        .hotKeyBtn {
          background: $bg_light;
          box-shadow: $shadow_light;
          color: $title_sub_light;
        }
        .deleteHotKey {
          background: $border_light;
          color: $bg_sub_light;
        }
      }
    }
    .memoPopup {
      background: $popupBg_light;
      .memoCard {
        background: $bg_sub_light;
        .title {
          color: $title_light;
        }
        .content {
          color: $title_sub_light;
        }
        .memoEdit {
          div {
            background: $bg_sub_light;
          }
          .edit {
            color: $popupBg_light;
          }
        }
      }
    }
  }
  .record {
    .header {
      background: $bg_sub_light;
      box-shadow: $shadow_light;
      .changeMonthBtn {
        color: $title_light;
      }
      h3 {
        color: $title_sub_light;
      }
      .currentMonth {
        color: $title_light;
      }
    }
    .recordItem {
      background: $bg_sub_light;
      box-shadow: $shadow_light;
      .date {
        color: $title_light;
      }
      .total {
        color: $title_sub_light;
      }
    }
    .detailPopup {
      background: $popupBg_light;
      .detailCard {
        background: $whiteCardBg;
        h2 {
          color: $title_light;
        }
        .detailItem {
          background: $bg_sub_light;
          box-shadow: $shadow_light;
          .directions {
            border-bottom: 1px solid $border_light;
            color: $title_sub_light;
          }
          .name,
          .spend {
            color: $title_light;
          }
        }
        .detailBtn div {
          background: $bg_light;
          box-shadow: $shadow_light;
          color: $title_sub_light;
        }
      }
    }
  }
  .chart {
    .header {
      background: $bg_sub_light;
      box-shadow: $shadow_light;
      .changeMonthBtn {
        color: $title_light;
      }
      h3 {
        color: $title_sub_light;
      }
      .currentMonth {
        color: $title_light;
      }
    }
    .content {
      h5 {
        color: $title_sub_light;
      }
      .spendTypeItem,
      .chartBtn div {
        background: $bg_sub_light;
        box-shadow: $shadow_light;
        color: $title_light;
      }
      .chartArea {
        background: $bg_sub_light;
      }
    }
  }
  .setting {
    .header {
      background: $bg_sub_light;
      box-shadow: $shadow_light;
      h3 {
        color: $title_sub_light;
      }
    }
    .setup {
      background: $bg_sub_light;
      .setItem {
        border-bottom: 1px solid $border_light;
        .text {
          color: $title_light;
        }
        .control {
          color: $title_sub_light;
          i {
            color: $popupBg_light;
          }
        }
        .logoutBtn {
          background: $bg_light;
          box-shadow: $shadow_light;
        }
      }
    }
    .editNamePopup {
      background: $popupBg_light;
      .editNameCard {
        background: $bg_sub_light;
        h2 {
          color: $title_light;
        }
        input {
          border: 1px solid $border_light;
        }
      }
    }
    .editLangPopup {
      background: $popupBg_light;
      .editLangCard {
        background: $bg_sub_light;
        h2 {
          color: $title_light;
        }
        .langItem {
          background: $bg_light;
          box-shadow: $shadow_light;
          color: $title_sub_light;
        }
      }
    }
  }
  .footer {
    background: $bg_sub_light;
    .icon,
    .text {
      color: $title_sub_light;
    }
  }
  label {
    color: $title_sub_light;
  }
  input,
  textarea {
    border-bottom: $border_light solid 1px;
    &::placeholder {
      color: $popupBg_light;
    }
  }
  .formBtn div {
    background: $bg_light;
    box-shadow: $shadow_light;
    color: $title_sub_light;
  }
  .normalBtn {
    background: $bg_light;
    box-shadow: $shadow_light;
    color: $title_sub_light;
    text-align: center;
    border-radius: 5px;
    padding: 6px 15px;
  }
  .confirmBtn {
    box-shadow: $shadow_light;
  }
}

/* darkMode */
.darkMode {
  &#app {
    background: $bg_dark;
  }
  .lobby {
    .header {
      background: $bg_sub_dark;
      h3 {
        color: $title_sub_dark;
      }
      .spend {
        color: $title_dark;
      }
    }
    .memo div,
    .addMemo {
      background: $bg_sub_dark;
      color: $title_sub_dark;
    }
    .memo p {
      color: $title_sub_dark;
    }
    .spendType {
      .type {
        background: linear-gradient(to left, $bg_sub_dark 25%, $bg_dark);
      }
      .text {
        color: $title_dark;
      }
    }
    .spendList {
      h4 {
        color: $title_sub_dark;
      }
      .listItem {
        background: $bg_sub_dark;
        h3 {
          color: $title_dark;
        }
        span {
          color: $title_sub_dark;
        }
        .itemSpend {
          color: $title_dark;
        }
      }
      .empty {
        background: $empty_dark;
        h3 {
          color: $title_sub_dark;
        }
      }
    }
    .spendPopup {
      background: $popupBg_dark;
      .spendCard {
        background: $bg_dark;
        h3 {
          color: $title_dark;
        }
        h5,
        .loading-s {
          color: $title_sub_dark;
        }
        .hotKeyItem,
        .hotKeyBtn {
          background: $bg_sub_dark;
          color: $title_sub_dark;
        }
        .deleteHotKey {
          background: $border_dark;
          color: $bg_sub_dark;
        }
      }
    }
    .memoPopup {
      background: $popupBg_dark;
      .memoCard {
        background: $bg_dark;
        .title {
          color: $title_dark;
        }
        .content {
          color: $title_sub_dark;
        }
        .memoEdit {
          div {
            background: $bg_dark;
          }
          .edit {
            color: $title_sub_dark;
          }
        }
      }
    }
  }
  .record {
    .header {
      background: $bg_sub_dark;
      .changeMonthBtn {
        color: $title_dark;
      }
      h3 {
        color: $title_sub_dark;
      }
      .currentMonth {
        color: $title_dark;
      }
    }
    .recordItem {
      background: $bg_sub_dark;
      .date {
        color: $title_dark;
      }
      .total {
        color: $title_sub_dark;
      }
    }
    .detailPopup {
      background: $popupBg_dark;
      .detailCard {
        background: $bg_dark;
        h2 {
          color: $title_dark;
        }
        .detailItem {
          background: $bg_sub_dark;
          .directions {
            border-bottom: 1px solid $border_dark;
            color: $title_sub_dark;
          }
          .name,
          .spend {
            color: $title_dark;
          }
        }
        .detailBtn div {
          background: $bg_sub_dark;
          color: $title_sub_dark;
        }
      }
    }
  }
  .chart {
    .header {
      background: $bg_sub_dark;
      .changeMonthBtn {
        color: $title_dark;
      }
      h3 {
        color: $title_sub_dark;
      }
      .currentMonth {
        color: $title_dark;
      }
    }
    .content {
      h5 {
        color: $title_sub_dark;
      }
      .spendTypeItem,
      .chartBtn div {
        background: $bg_sub_dark;
        color: $title_dark;
      }
      .chartArea {
        background: $bg_sub_dark;
      }
    }
  }
  .setting {
    .header {
      background: $bg_sub_dark;
      h3 {
        color: $title_sub_dark;
      }
    }
    .setup {
      background: $bg_sub_dark;
      .setItem {
        border-bottom: 1px solid $border_dark;
        .text {
          color: $title_dark;
        }
        .control {
          color: $title_sub_dark;
          i {
            color: $title_sub_dark;
          }
        }
        .logoutBtn {
          background: $bg_dark;
        }
      }
    }
    .editNamePopup {
      background: $popupBg_dark;
      .editNameCard {
        background: $bg_sub_dark;
        h2 {
          color: $title_dark;
        }
        input {
          border: 1px solid $border_dark;
        }
      }
    }
    .editLangPopup {
      background: $popupBg_dark;
      .editLangCard {
        background: $bg_sub_dark;
        h2 {
          color: $title_dark;
        }
        .langItem {
          background: $bg_dark;
          color: $title_sub_dark;
        }
      }
    }
  }
  .footer {
    background: $bg_sub_dark;
    .icon,
    .text {
      color: $title_sub_dark;
    }
  }
  label {
    color: $title_sub_dark;
  }
  input,
  textarea {
    border-bottom: $border_dark solid 1px;
    background: none;
    color: $title_dark;
    &::placeholder {
      color: $title_sub_dark;
    }
  }
  .formBtn div {
    background: $bg_sub_dark;
    color: $title_sub_dark;
  }
  .normalBtn {
    background: $bg_dark;
    color: $title_sub_dark;
    text-align: center;
    border-radius: 5px;
    padding: 6px 15px;
  }
}
