.hotKeyOpen-enter,
.hotKeyOpen-leave-to {
  max-width: 0;
}
.hotKeyOpen-enter-active {
  transition: max-width 0.4s;
}
.hotKeyOpen-leave-active {
  transition: max-width 0.2s;
}
.hotKeyOpen-enter-to,
.hotKeyOpen-leave {
  max-width: 130px;
}
